// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// custom
td.selected {
    background-color: red;
}

.hikae_waku {
    height: 600px;
    overflow-y: scroll;
}