// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// custom
td.selected {
    background-color: red;
}

.hikae_waku {
    height: 400px;
    overflow-y: scroll;
}


// play画面
#play_wrap {
    font-size: 12px;
}

#play_wrap.container {
    max-width: 1200px;
}

#score_board {
    table-layout: fixed;
}

#score_board td {
    background-color: #000;
    color: #FFF;
    border: 3px solid #FFF;
    text-align: center;
    padding: 3px 0;
}

#score_board td.inning_selected {
    background-color: #F6DE2A;
    color: #000;
}

.board_table {
    width: 10%;
    float: left;
}

.board_table td {
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    text-align: center;
}

tr.result_button_1 td, td.result_button_1{
  background-color:#03F9F9;
}
tr.result_button_4 td, td.result_button_4{
  background-color:#FF8A8A;
}
tr.result_button_2 td, td.result_button_2{
  background-color:#F6DE2A;
}
tr.result_button_3 td, td.result_button_3{
  background-color:#BBBBBB;
}

.result_selected {
  background-color:red;
}

table.stamen > tr > td {
    background-color: #000;
    color: #FFF;
    border: 2px solid #FFF;
    text-align: center;
}

.stamen td.member_selected {
    background-color: #F6DE2A;
    color: #000;
}

.stamen td.seiseki {
    font-size: 9px;
    vertical-align: middle;
    width: 80px;
    padding: 0;
}

#fielder-summary td {
    height:30px;
}

.now_player_detail td{
    padding-top: 0;
    padding-bottom: 0;
}

.now_pitcher_detail td{
    padding-top: 0;
    padding-bottom: 0;
}

.member_player_wrap {
    position:relative;
}

.player_detail {
    position: absolute;
    text-align: left;
    background-color: #DFF;
    color: black;
    padding: 10px;
    top: 0;
    z-index: 100;
    min-width: 200px;
}

.visitor_stamen .player_detail {
    left: 100px;
}
.home_stamen .player_detail {
    right: 100px;
}

.play_info_detail td {
    white-space: nowrap; 
    padding: 0;
    width: 70px;
    text-align: center;
}

.player_detail_name {
    white-space: nowrap; 
}

.season_game_table td {
    padding: 0;
    text-align: center;
}

.seiseki_table th, .seiseki_table td {
    font-size: 14px;
    padding: 2px;
    text-align: center;
}